@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    background-color: #d0f8f6;
   
#logo{
	height:50px;
}
 
}
.registration-logo{
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}

.registration-form{
	padding: 160px 10px ;
}
/* .with-border{
    border-bottom: 2px solid #f4f4f4;
} */
.registration-form form{
	background-color: rgb(169, 214, 221);
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 30px;
    
     
}
.registration-form .item{
	border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .login-button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  border-radius: 10px;
  background: #363636;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
}
.login-button:hover,.login-button:active,.login-button:focus {
  background: #00001a;
}
#A3{
	margin-top:10px;
}

@media (max-width: 576px) {
    .login-form form,
    .registration-form form{
        padding: 50px 20px;
    }
}

[type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
}
input,
[type=file] + label {
  border-radius: 10px;
  margin-bottom: 25px;
  padding: 10px 20px;
  display: block;
  border: 1px solid #ced4da;
  text-align: left;
  width: 100%;
  background-clip: padding-box;
  position: relative;
}
[type=file] + label {
  text-align: left;
  width: 100%;
  background-color: #fff;
  background-clip: padding-box;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 10px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
[type=file] + label:hover {
  background: #3399ff;
}

#sub{
  text-align: center;
}
.formcontrolitem:hover{
  border: 1px solid #097cf0;
}